:root {
  --Main-Gradient: linear, hsl(249, 99%, 64%), hsl(278, 94%, 30%);
  --Purple: hsl(278, 94%, 30%);
  --Error-Red: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 3%, 87%);
  --Dark-Grayish-Violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --Font-Family: "Space Grotesk", sans-serif;
  --Font-Weight: 500;
  --Font-Size: 18px;
}
